.buttonStyle {
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: cornflowerblue;
    border-top: 2px solid mediumslateblue;
    border-left: 2px solid mediumslateblue;
    border-bottom: 2px solid darkslateblue;
    border-right: 2px solid darkslateblue;
}
.buttonStyle:active {
    background-color: cornflowerblue;
    border-bottom: 2px solid mediumslateblue;
    border-right: 2px solid mediumslateblue;
    border-top: 2px solid darkslateblue;
    border-left: 2px solid darkslateblue;
}
.buttonStyle:hover {
    background-color: royalblue;
}
.buttonStyle:disabled {
    background-color: lightgrey;
    border-color: darkgray;
}