.buttonStyle button {
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: cornflowerblue;
    border-top: 2px solid mediumslateblue;
    border-left: 2px solid mediumslateblue;
    border-bottom: 2px solid darkslateblue;
    border-right: 2px solid darkslateblue;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.buttonStyle button:active {
    background-color: cornflowerblue;
    border-bottom: 2px solid mediumslateblue;
    border-right: 2px solid mediumslateblue;
    border-top: 2px solid darkslateblue;
    border-left: 2px solid darkslateblue;
}
.buttonStyle button:hover {
    background-color: royalblue;
}
.buttonStyle button:disabled {
    background-color: lightgrey;
    border-color: darkgray;
}