.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.infoContainer {
    border: 1px solid lightpink;
    border-radius: 15px;
    padding: 25px;
}
.userBody {
    display: grid;
    grid-template-columns: 2fr 9fr;
    padding: 15px;
}
.avatarAndFollow {
    text-align: center;
}
.nameSurname {
    float: left;
}
.cityCountry {
    float: right;
}
.center {
    text-align: center;
}
.selectedPage {
    font-weight: bold;
}

/*preloader*/

.ldsCircle {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateZ(1px);
}
.ldsCircle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: deeppink;
    animation: ldsCircle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes ldsCircle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}
