.header {
    grid-area: h;
    background-color: mediumslateblue;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.header img {
    height: 66px;
    background: transparent;
    border: 2px solid mediumslateblue;
    border-radius: 15px;
}

.loginBlock {
    float: right;
    margin-right: 30px;
    margin-top: 15px;
}

.loginBlock a {
    text-decoration: none;
    color: white;
}
.userName {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-right: 1px solid white;
    color: rgba(255,255,255,0.8);
}
.logOut {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    color: rgba(255,255,255,0.8);
}
.logOut:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}
.userName:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}