.navbar {
    grid-area: n;
    background-color: mediumpurple;
    border-radius: 15px;
    padding: 22px 15px 15px 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.linkName {
    font-size: large;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
}
.item:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.item a {
    text-decoration: none;
    color:white;
}
.item a.activeLink {
    color: gold;
}