.profileInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

.profilePicBox {

}

.profilePicBox img {
    height: 200px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profileInfo {

}

.profileName {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.5);
}
.profileStatus {
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.5);
}
