.errorBlock {
    min-height: 22px;
}
.errorMessage {
    font-size: small;
    color: red;
}
.errorTextfield textarea {
    border-color: red;
}
.errorTextfield input {
    border-color: red;
}


.loginFormError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}