.app_wrapper {
  display: grid;
  grid-template-areas:
  'h h'
  'n p';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 70%;
  margin: auto;
}

.app_wrapper_content {
  margin-left: 10px;
  grid-area: p;
  background-color: hotpink;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}