.app_wrapper {
    display: grid;
    grid-template-areas:
  'h h'
  'n p';
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 70%;
    margin: auto;
    min-height: 100vh;
}

.app_wrapper_content {
    margin-left: 10px;
    grid-area: p;
    background-color: rgba(255, 90, 170, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
